.container{
  width: 100vw;
  max-width: 100vw;
  background-color: var(--background);
  min-height: 100vh;
}


.heading{
  color: var(--heading);
}

.info{
  color: var(--info);
}

.body{
  color: var(--body);
}
